{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrapper" id='root'>
        <div class="slide coverSlide">
            <img class="coverSlide__cover cover" src="{{ asset('images/bg.jpg') }}" alt="На фоне здоровые растения">
            <div class="coverSlide__titles">
                <div>Lokirel</div>
                <h1>Озеленение и профессиональный уход за растениями</h1>
            </div>
        </div>
        <div class="slide cardPictureSlide">
            <img class="cardPictureSlide__cover cover" src="{{ asset('images/bg.jpg') }}" alt="На фоне здоровые растения">
            <div class="cardPictureSlide__content">
                <div class="picture">
                    <img src="{{ asset('images/card.svg') }}" alt="Картинка с каким-то цветком">
                </div>
                <div class="card">
                    <h2 class="info__suptitle">Надзаголовок</h2>
                    <div class="info__title">Загаловок</div>
                    <div class="info__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad et animi expedita magnam voluptatibus. Tenetur, temporibus nisi voluptates fugit consequatur voluptate ad dolore inventore blanditiis error, nesciunt hic architecto!</div>
                </div>
            </div>
        </div>
        <div class="slide carouselSlide">
            <div class="carouselSlide__title">Спасенные нами растения</div>
            <div class="carouselSlide__carousel">
                <div class="carousel__item">
                    <img src="{{ asset('images/card.svg') }}" alt="1">
                </div>
                <div class="carousel__item">
                    <img src="{{ asset('images/card.svg') }}" alt="1">
                </div>
                <div class="carousel__item">
                    <img src="{{ asset('images/card.svg') }}" alt="1">
                </div>
            </div>
        </div>
        <div class="slide fourStepsSlide">
            <div class="fourStepsSlide__titles">
                <div class="page-four__title">Сценарии использования <br>
                    Как все будет проходить по шагам</div>
                <div class="page-four__subtitle">показывает, что новая модель организационной деятельности способствует подготовки и реализации системы обучения кадров, соответствует
                </div>
            </div>
            <div class="fourStepsSlide__steps">
                <div class="step">
                    <div class="step__number">1</div>
                    <div class="step__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint recusandae aspernatur ipsam odio repellat veniam. Commodi voluptas, quaerat dolores eligendi voluptates saepe, dignissimos ullam, ipsum quas eum tempore fuga?</div>
                </div>
                <div class="step">
                    <div class="step__number">2</div>
                    <div class="step__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint recusandae aspernatur ipsam odio repellat veniam. Commodi voluptas, quaerat dolores eligendi voluptates saepe, dignissimos ullam, ipsum quas eum tempore fuga?</div>
                </div>
                <div class="step">
                    <div class="step__number">3</div>
                    <div class="step__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint recusandae aspernatur ipsam odio repellat veniam. Commodi voluptas, quaerat dolores eligendi voluptates saepe, dignissimos ullam, ipsum quas eum tempore fuga?</div>
                </div>
                <div class="step">
                    <div class="step__number">4</div>
                    <div class="step__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint recusandae aspernatur ipsam odio repellat veniam. Commodi voluptas, quaerat dolores eligendi voluptates saepe, dignissimos ullam, ipsum quas eum tempore fuga?</div>
                </div>
            </div>
        </div>
        <div class="slide videoSlide">
            <div class="videoSlide__video">
                <iframe  src="https://www.youtube.com/embed/id_nEx2i3Yo?controls=0&autoplay=1&mute=1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="videoSlide__content">
                <div class="video__title">
                    Видео здесь на фоне <br> Для кого подходит данная услуга
                </div>
                <div class="video__icons">
                    <div class="video__icon">
                        <img src="{{ asset('images/1.svg') }}" alt="">
                        <div class="video__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita omnis quibusdam vitae aliquam voluptatibus nisi a placeat, quasi deserunt </div>
                    </div>
                    <div class="video__icon">
                        <img src="{{ asset('images/1.svg') }}" alt="">
                        <div class="video__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita omnis quibusdam vitae aliquam voluptatibus nisi a placeat, quasi deserunt </div>
                    </div>
                    <div class="video__icon">
                        <img src="{{ asset('images/1.svg') }}" alt="">
                        <div class="video__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita omnis quibusdam vitae aliquam voluptatibus nisi a placeat, quasi deserunt </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}